<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link href="{% static 'index/bulma.min.css' %}" rel="stylesheet" />
    <link href="{% static '/index/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static '/index/fontawesome/css/light.min.css' %}" rel="stylesheet">
    <title>ЕХБ Новый Уренгой</title>
    <style>
        html {
            overflow: auto;
        }
        img.small-map {
            width: 15rem;
            border: 1px solid rgb(184, 191, 231);
            padding: 0.5rem;
        }
        img.map {
            width: auto;
        }
        div.tile.is-child {
            border: 1px dotted white;
            padding: 1rem;
            border-radius: 1rem;
        }
    </style>
  </head>
  <body>
    <div class="modal" id="imgmodal">
        <div class="modal-background"></div>
        <div class="modal-content">
            <p class="image">
                <img src="{% static 'index/map.png' %}" class="map">
            </p>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>
    <section class="hero is-dark">
        <div class="hero-body">
            <div>
                <p class="title has-text-centered">
                    <span class="icon"><i class="fa-light fa-church fa-lg"></i></span>
                </p>
                <p class="title has-text-centered">Церковь ЕХБ в городе Новый Уренгой</p>
                <p class="subtitle has-text-centered">
                    Информационная страница местной религиозной организации евангельских христиан-баптистов
                </p>
                <div class="content">
                    <div class="tile is-ancestor">
                      <div class="tile is-parent">
                        <div class="tile is-child">
                            <h4 class="title">Мероприятия</h4>
                            <div class="columns">
                                <div class="column">
                                    <div>
                                        <span class="icon"><i class="fa-sharp fa-light fa-calendar"></i></span>
                                        <span>Воскресное богослужение</span>
                                    </div>
                                    <div>
                                        <span class="icon"><i class="fa-light fa-clock"></i></span>
                                        <span>10:00</span>
                                    </div>
                                </div>
                                <div class="column">
                                    <div>
                                        <span class="icon"><i class="fa-sharp fa-light fa-calendar"></i></span>
                                        <span>Четверг, собрание</span>
                                    </div>
                                    <div>
                                        <span class="icon"><i class="fa-light fa-clock"></i></span>
                                        <span>19:30</span>
                                    </div>
                                </div>
                            </div>
                            <div class="columns is-centered">
                                <div class="column">
                                    <a class="has-text-warning" href="https://yandex.ru/maps/-/C-c8AnB"
                                       title="Открыть в Яндекс картах" target="_blank">
                                        <span class="icon">
                                            <i class="fa-sharp fa-light fa-location-dot"></i>
                                        </span>
                                        <span>Тундровая улица, 33</span>
                                    </a>
                                    <img class="image small-map js-modal-trigger" data-target="imgmodal" src="{% static 'index/map.png' %}"/>
                                    <p>
                                        <span class="icon"><i class="fa-light fa-envelope"></i></span>
                                        <span>info@exb89.ru</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                      </div>
                      
                      <div class="tile is-parent">
                        <div class="tile is-child">
                            <h4 class="title">Пресвитеры</h4>
                            <ol>
                                <li>Николай Витальевич Криворучко</li>
                                <li>Тарас Алексеевич Ткаченко</li>
                                <li>Юрий Дмитриевич Чибук</li>
                            </ol>
                        </div>
                      </div>
                      <div class="tile is-parent">
                        <div class="tile is-child">
                            <h4 class="title">Символ веры</h4>
                            <p>Символ веры, информация о конфессии и история соответствует материалам, опубликованным на сайте 
                                <a class="has-text-warning" href="https://baptist.org.ru/" target="_blank">РОССИЙСКОГО СОЮЗА ЕХБ</a>.
                            </p>
                        </div>
                      </div>  
                    </div>
                </div>
            </div>
        </div>
    </section>
    <p class="footer content is-small">&copy; Местная религиозная организация Объединения ЕХБ Ямало-Ненецкого автономного округа в г. Новый Уренгой, 2023 г.  </p>
  <script>
  document.addEventListener('DOMContentLoaded', () => {
  // Functions to open and close a modal
  function openModal($el) {
    $el.classList.add('is-active');
  }

  function closeModal($el) {
    $el.classList.remove('is-active');
  }

  function closeAllModals() {
    (document.querySelectorAll('.modal') || []).forEach(($modal) => {
      closeModal($modal);
    });
  }

  // Add a click event on buttons to open a specific modal
  (document.querySelectorAll('.js-modal-trigger') || []).forEach(($trigger) => {
    const modal = $trigger.dataset.target;
    const $target = document.getElementById(modal);

    $trigger.addEventListener('click', () => {
      openModal($target);
    });
  });

  // Add a click event on various child elements to close the parent modal
  (document.querySelectorAll('.modal-background, .modal-close, .modal-card-head .delete, .modal-card-foot .button') || []).forEach(($close) => {
    const $target = $close.closest('.modal');

    $close.addEventListener('click', () => {
      closeModal($target);
    });
  });

  // Add a keyboard event to close all modals
  document.addEventListener('keydown', (event) => {
    if (event.code === 'Escape') {
      closeAllModals();
    }
  });
});
</script>
  </body>
</html>
