<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Дневник</title>
    {% load static %}
    <link rel="stylesheet" href="{% static "css/dnevnik.css" %}">
  </head>
  <body>

    <header>
      <div class="big">
      

              <div class="photoz">
          
                <img class="photo" src="{% static "img/SHK.png" %}" alt="Эмблема школы ПЕРСПЕКТИВА">
      
              </div>
          
              <div class="text">
                <p class="obrazov">
                  Образование Ямала
                </p>  
      
                <h3 class="SHK">
                  МАОУ "СШ"ПЕРСПЕКТИВА"
                </h3>
      

        
        </div>
      
        
      
      </div>
      
      <div class="niz">
          <div class="katalog">
            <a href="{% url 'sgo' %}"><span>Главная</span></a>
            <a id="dannoe" href="#"><span>Дневник</span></a>
            <a href="{% url 'otchoti' %}"><span>Отчёты</span></a>
            <a class="Obyavleniya" href="{% url 'obratnaya' %}"><span>Обратная связь</span></a>
          </div>
        </div>
    </header>

    <main>
      <div class="flex">
          <div class="cell">
            <table>
              <tr>
                <th rowspan="9" class="Day"><p>П<br>о<br>н<br>е<br>д<br>е<br>л<br>ь<br>н<br>и<br>к</p></th>
                <th>№</th>
                <th>УРОК</th>
                <th>ДОМАШНЕЕ ЗДАНИЕ</th>
                <th>ОЦЕНКА</th>
              </tr>
              <tr>
                <td class="nomer">-2</td>
                <td>Время учить китайский</td>
                <td>выучить слова на диктант 学校, 学生, 校长, 老师,</td>
                <td><img class="five" src="{% static 'img/five.png' %}" alt="оценка"></td>
              </tr>
              <tr>
                <td>0</td>
                <td>Разговоры о важном</td>
                <td>Не задано</td>
                <td><img class="four" src="{% static 'img/four.png' %}"></td>
              </tr>
              <tr>
                <td>1</td>
                <td>Русский язык</td>
                <td>Параграф №39/28 - самостоятельное изучение.</td>
                <td><img class="three" src="{% static 'img/three.png' %}"></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Биология</td>
                <td>п.9 пересказ</td>
                <td><img class="three" src="{% static 'img/three.png' %}"></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Музыка</td>
                <td>тетрадь, выучить первый куплет и припев песни "С Новым годом"</td>
                <td><img class="five" src="{% static 'img/five.png' %}"></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Геометрия</td>
                <td>№ 262(с.у), 267 (н.у)</td>
                <td><img class="tochka" src="{% static 'img/tochka.png' %}"></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Английский язык</td>
                <td>выучить фразы из №2 стр.42. аудирование прикреплено</td>
                <td><img class="two" src="{% static 'img/two.png' %}"></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Алгебра</td>
                <td>п. 18 изучить, № 388 (а-е), 389 (а-е), 392</td>
                <td><img class="four" src="{% static 'img/four.png' %}"></td>
              </tr>
      
      
      
      
      
      
      
      
      
      
      
      
      
      
              </table>
          </div>
          <div class="cell">
            <table>
              <tr>
                <th rowspan="9" class="Day"><p>В<br>т<br>о<br>р<br>н<br>и<br>к</p></th>
                <th>№</th>
                <th>УРОК</th>
                <th>ДОМАШНЕЕ ЗДАНИЕ</th>
                <th>ОЦЕНКА</th>
              </tr>
              <tr>
                <td class="nomer">0</td>
                <td>История России</td>
                <td>Повторить п. 17- 28 все основные понятия и даты.<br>Подготовится к контрольной работе.</td>
                <td><img class="five" src="{% static 'img/five.png' %}" alt="оценка"></td>
              </tr>
              <tr>
                <td>1</td>
                <td>Лиература</td>
                <td>Читать "Повесть о том, как один мужик двух генералов прокормил".</td>
                <td><img class="four" src="{% static 'img/four.png' %}"></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Русский язык</td>
                <td>1</td>
                <td><img class="three" src="{% static 'img/three.png' %}"></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Английский язык</td>
                <td><div class=""></div></td>
                <td><img class="three" src="{% static 'img/three.png' %}"></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Физика</td>
                <td>Читать пар. 32, 33, ответить письменно на вопросы 1, 2 в рубрике ?? на стр. 111</td>
                <td><img class="five" src="{% static 'img/five.png' %}"></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Обществознание</td>
                <td>Пересказ п. 11, выуч. определения по параграфу,<br>отрасли права выписать. Повторить .п 7-10</td>
                <td><img class="tochka" src="{% static 'img/tochka.png' %}"></td>
              </tr>
              </table>
 
          </div>
          <div class="cell">
            <table>
              <tr>
                <th rowspan="9" class="Day"><p>С<br>р<br>е<br>д<br>а</p></th>
                <th>№</th>
                <th>УРОК</th>
                <th>ДОМАШНЕЕ ЗДАНИЕ</th>
                <th>ОЦЕНКА</th>
              </tr>
              <tr>
                <td class="nomer">1</td>
                <td>Физическая культура</td>
                <td>Не задано</td>
                <td><img class="five" src="{% static 'img/five.png' %}" alt="оценка"></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Геометрия</td>
                <td>Повторить пройденный материал</td>
                <td><img class="four" src="{% static 'img/four.png' %}"></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Алгебра</td>
                <td>Повторить пройденный материал</td>
                <td><img class="three" src="{% static 'img/three.png' %}"></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Родной русский язык</td>
                <td>Подготовка к выступлению с индивидуальными сообщениями.</td>
                <td><img class="three" src="{% static 'img/three.png' %}"></td>
              </tr>
              <tr>
                <td>5</td>
                <td>География</td>
                <td>читать параграф 15</td>
                <td><img class="five" src="{% static 'img/five.png' %}"></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Русский язык</td>
                <td>1</td>
                <td><img class="tochka" src="{% static 'img/tochka.png' %}"></td>
              </tr>
            </table>

          </div>
          <div class="cell">
            <table>
              <tr>
                <th rowspan="9" class="Day"><p>Ч<br>е<br>т<br>в<br>е<br>р<br>г</p></th>
                <th>№</th>
                <th>УРОК</th>
                <th>ДОМАШНЕЕ ЗДАНИЕ</th>
                <th>ОЦЕНКА</th>
              </tr>
              <tr>
                <td class="nomer">0</td>
                <td>Развитие математических способностей</td>
                <td>Повторить пройденный материал</td>
                <td><img class="five" src="{% static 'img/five.png' %}" alt="оценка"></td>
              </tr>
              <tr>
                <td>1</td>
                <td>Английский язык</td>
                <td>с.46 прочитать и перевести тексты 1-4</td>
                <td><img class="four" src="{% static 'img/four.png' %}"></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Информатика</td>
                <td>Выполнить урок цифры</td>
                <td><img class="three" src="{% static 'img/three.png' %}"></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Труд(Технология)</td>
                <td>Тетрадь</td>
                <td><img class="five" src="{% static 'img/five.png' %}"></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Труд(Технология)</td>
                <td>Тетрадь</td>
                <td><img class="five" src="{% static 'img/five.png' %}"></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Физика</td>
                <td>Читать пар. 31, выполнить упр. 19 (1,2), стр. 106</td>
                <td><img class="tochka" src="{% static 'img/tochka.png' %}"></td>
              </tr>
              <tr>
                <td>6</td>
                <td>ОБЖ</td>
                <td>Основные причины автономного существования человека</td>
                <td><img class="two" src="{% static 'img/two.png' %}"></td>
              </tr>
            </table>

          </div>
          <div class="cell">
            <table>
              <tr>
                <th rowspan="9" class="Day"><p>П<br>я<br>т<br>н<br>и<br>ц<br>а</p></th>
                <th>№</th>
                <th>УРОК</th>
                <th>ДОМАШНЕЕ ЗДАНИЕ</th>
                <th>ОЦЕНКА</th>
              </tr>
              <tr>
                <td class="nomer">0</td>
                <td>История России</td>
                <td>Пересказ п. 25 (27) в. 1-3 письменно</td>
                <td><img class="five" src="{% static 'img/five.png' %}" alt="оценка"></td>
              </tr>
              <tr>
                <td>1</td>
                <td>География</td>
                <td>подготовиться к проверочной работе, повторив пройденные темы</td>
                <td><img class="four" src="{% static 'img/four.png' %}"></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Физическая культура</td>
                <td>Не задано</td>
                <td><img class="three" src="{% static 'img/three.png' %}"></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Алгебра</td>
                <td>п. 25 изучить, № 586 (а, б), 588 (б), 593</td>
                <td><img class="five" src="{% static 'img/five.png' %}"></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Вероятность и статистика</td>
                <td>решить задачи стр.27 № 3, 4, 5</td>
                <td><img class="five" src="{% static 'img/five.png' %}"></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Русский язык</td>
                <td>стр.29 выучить правило</td>
                <td><img class="tochka" src="{% static 'img/tochka.png' %}"></td>
              </tr>
              <tr>
                <td>6</td>
                <td>Лиература</td>
                <td>Выучить отрывок из стихотворения которое читали на уроке</td>
                <td><img class="two" src="{% static 'img/two.png' %}"></td>
              </tr>
            </table>

          </div>
          <div class="cell">
            <table>
              <tr>
                <th rowspan="9" class="Day"><p>С<br>у<br>б<br>б<br>о<br>т<br>а</p></th>
                <th>№</th>
                <th>УРОК</th>
                <th>ДОМАШНЕЕ ЗДАНИЕ</th>
                <th>ОЦЕНКА</th>
              </tr>
              <tr>
                <td class="nomer">3</td>
                <td>Школьный квадрокоптер</td>
                <td>Не задано</td>
                <td><img class="five" src="{% static 'img/five.png' %}" alt="оценка"></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Время учить китайский</td>
                <td>Не задано</td>
                <td><img class="four" src="{% static 'img/four.png' %}"></td>
              </tr>
              <tr>
                <td>4</td>
                <td>Школьный квадрокоптер</td>
                <td>Не задано</td>
                <td><img class="three" src="{% static 'img/three.png' %}"></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Баскетбол "Оранжевое кольцо"</td>
                <td>Не задано</td>
                <td><img class="five" src="{% static 'img/five.png' %}"></td>
              </tr>
              <tr>
                <td>5</td>
                <td>Занимательная матиматека</td>
                <td>Не задано</td>
                <td><img class="five" src="{% static 'img/five.png' %}"></td>
              </tr>
            </table>

          </div>
        </div> 
    </main>
    <footer>
      <p class="niz2">Образование Ямала 5.32.74230.80
        <br>
        © 2007-2024 ИРТех, г. Самара. Все права защищены</p>
    </footer>

  </body>
</html>
