<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/sgo.css' %}">
</head>

<body>
  <div id="global">
    <header>
      <div class="big">
              <div class="photoz">
                <img class="photo" src="{% static 'img/SHK.png' %}" alt="Эмблема школы ПЕРСПЕКТИВА">
              </div>
              <div class="text">
                <p class="obrazov">
                  Образование Ямала
                </p>
                <h3 class="SHK">
                  МАОУ "СШ"ПЕРСПЕКТИВА"
                </h3>
        </div>
      </div>
      <div class="niz">
        <div class="katalog">
          <!-- каталог -->
          <a  id="dannoe" href="#"><span>Главная</span></a>
          <a href="{% url 'dnevnik' %}"><span>Дневник</span></a>
          <a href="{% url 'otchoti' %}"><span>Отчёты</span></a>
          <a class="sgo/Obyavleniya" href="{% url 'obratnaya' %}"><span>Обратная связь</span></a>
        </div>
      </div>
      </header>  
      <main>
      <div class="big2">
        <div class="col" style="border-right: 2px dotted grey;">
          <div>
            <h2>Мероприятия</h2>
            <br>
            <H3>Концерт "Сказка о потерянном времени"</H3><p>24 декабря пройдёт спектакль<br>"Сказка о потерянном времени"</p>
            <h3>Новогодние мастер-классы</h3>
            <p>- Дата: 23 декабря <br>
    - Описание: Приглашаем всех желающих принять
    участие в новогодних мастер-классах по изготовлению 
    новогодних игрушек, открыток и украшений.
    Мастер-классы будут проходить в кабинете 325
    с 15:00 до 17:00.<br>
    - Контакт: Учитель Ирина Петровна</p>

  <h3>Конкурс «Лучший новогодний декор»</h3>
   <p>- Дата: 12 декабря<br>
   - Описание: Ученики могут принять участие в конкурсе на лучшее новогоднее оформление класса или кабинета. Призы победителям!<br>
   - Контакт: Совет старшеклассников</p>

   <h3>Классный час «История Нового года»</h3>
    <p>   - Дата: 15 декабря <br>
   - Описание: Урок, посвящённый традициям празднования Нового года в разных странах. Узнайте интересные факты и примите участие в обсуждении!<br>
   - Контакт: Завуч по ВР</p>

   <h3>Новогодняя благотворительная ярмарка</h3>
   <p>- Дата: 20 декабря<br>
   - Описание: Принесите свои поделки и выпечку на благотворительную ярмарку! Все средства пойдут на помощь нуждающимся. Ярмарка пройдет в холле школы.<br>
   - Контакт: Учительница начальных классов, Анна Сергеевна</p>

   <h3>Праздничный концерт «Зимняя сказка»</h3>
   <p>- Дата: 25 декабря<br>
   - Описание: Приглашаем всех на новогодний концерт, где ученики покажут свои таланты! Начало в 17:00 в актовом зале.<br>
   - Контакт: Руководитель художественной самодеятельности, Ольга Викторовна</p>

          </div>
        </div>
        <div class="col">
      
            <h2>Обявления</h2>
            <br>
            <h3>Дистанционное обучение</h3><p>5 декабря для классов с 1 по 4 будет<br>всего 3 урока,а для классов с 5 по 11<br>будет дистанционное обучение</p>
            <br>
            <h3>Важно!</h3>
<p>Не забудьте принести новогодние подарки<br>для благотворительной акции до 18 декабря.</p>
<br>
<h3>Напоминание:</h3>
<p>Конкурс на лучшее новогоднее оформление классов<br>продлится до 13 декабря!<br>Постарайтесь порадовать нас креативными идеями!</p>
<br>
<h3>Участие в мастер-классах</h3>
<p>Это отличная возможность развить<br>свои навыки и зарядиться новогодним настроением!<br>Не упустите шанс!</p>
      

        </div>
      
      </div>
    </main>
    
    <footer>
      <p class="niz2">Образование Ямала 5.32.74230.80
      <br>
      © 2007-2024 ИРТех, г. Самара. Все права защищены</p>
    </footer>
    
</div>





</body>
</html>